body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* Warna background hitam */
  color: #ff69b4; /* Warna font pink */
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #000; /* Warna background hitam */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.1); /* Efek bayangan berwarna pink */
  text-align: center;
}

h1 {
  color: #ff69b4;
}

p {
  color: #ff69b4; 
}

button {
  background-color: #ff69b4; 
  color: #000; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d23669; 
}
